# Assigns ownership of the myblog frontend directory to the frontend team

/myblog/ @frontend-team

# Assigns ownership of the api backend directory to the backend team

/api/ @backend-team

# The coordinator has admin rights to everything

* @admin-team
